{% extends 'home_base.html' %}

{% block title %}
Data_analysis
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/test.css') }}">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-gl.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <!-- 侧边栏 -->
            <div class="col-sm-3 col-md-1 sidebar">
                <ul class="nav nav-sidebar">
                    <li id="btn"><a href="#">运行管理</a></li>
                    <li id="btn1"><a href="#">数据管理</a></li>
                    <li><a href="#">用户管理</a></li>
                    <li><a href="#">系统管理</a></li>
                </ul>
            </div>
            <div class="sidenav" id="run">
            <ul class="nav nav-sidebar">
                <li>换流变压器</li>
                <li>8111B</li>
                <li><a href="{{ url_for("COCTboard",pltdata="8111B-A") }}">8111B-A相</a></li>
                <li><a href="{{ url_for("COCTboard",pltdata="8111B-B") }}">8111B-B相</a></li>
                <li><a href="{{ url_for("COCTboard",pltdata="8111B-C") }}">8111B-C相</a></li>
                <li>8112B</li>
                <li><a href="{{ url_for("COCTboard",pltdata="8112B-A") }}">8112B-A相</a></li>
                <li><a href="{{ url_for("COCTboard",pltdata="8112B-B") }}">8112B-B相</a></li>
                <li><a href="{{ url_for("COCTboard",pltdata="8112B-C") }}">8112B-C相</a></li>
            </ul>
        </div>
        <div class="sidenav" id="data">
            <ul class="nav nav-sidebar">
                <li>换流变压器</li>
                <li>8111B</li>
                <li><a href="{{ url_for("Data_analysis",titlename="8111B-A") }}">8111B-A相</a></li>
                <li><a href="{{ url_for("Data_analysis",titlename="8111B-B") }}">8111B-B相</a></li>
                <li><a href="{{ url_for("Data_analysis",titlename="8111B-C") }}">8111B-C相</a></li>
                <li>8112B</li>
                <li><a href="{{ url_for("Data_analysis",titlename="8112B-A") }}">8112B-A相</a></li>
                <li><a href="{{ url_for("Data_analysis",titlename="8112B-B") }}">8112B-B相</a></li>
                <li><a href="{{ url_for("Data_analysis",titlename="8112B-C") }}">8112B-C相</a></li>
            </ul>
        </div>



            <!-- 主内容 -->
            <div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main">
                <h2 class="sub-header">{{ title }}</h2>
                <div class="col-xs-6">
                    <div style="width: 700px;height: 350px;">时序曲线图</div>
                    <div id="container_1" style="height: 300px"></div>

                </div>

                <div class="col-xs-6">
                    <div class="row placeholders">
                        <div class="table-responsive">
                            <table class="table" id="table-request">
                                <thead>
                                    <tr>
                                        <th data-field="Time">监测时间</th>
                                        <th data-field="value">A相</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="container" style="height: 300px"></div>
                    </div>

                </div>


            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
{#    <script src="./echarts.min.js"></script>#}
    <script src="https://www.echartsjs.com/examples/vendors/echarts/extension/dataTool.min.js"></script>

    <script>
        $('#btn').on('click', function () {
            $('#run').toggle()
        })
        $('#btn1').on('click', function () {
            $('#data').toggle()
        })
    </script>
    <script type="text/javascript">
        function getJson() {
            $.ajax({
                type: "get",
                url: "{{ url_for('get_original_data') }}",
                success: function (data) {
                    // console.log(data)
                    $('#table-request').bootstrapTable({
                        data: data, //datalist 即为需要的数据
                        dataType: 'json',
                        pagination: true,
                        pageSize: 5,
                        pageList: [5],
                        data_locale: "zh-US", //转换中文 但是没有什么用处
                    });
                }
            })
        }
        getJson()



        var dom = document.getElementById("container");
        var dom_1 = document.getElementById("container_1");
        var myChart = echarts.init(dom);
        var myChart_1 = echarts.init(dom_1);

        var app = {};
        var a_y = ['162.4', '160.6', '150.4', '143.6', '126.5', '129.9', '131.6', '136.7', '135', '138.4', '135',
            '133.3', '133.3', '133.3', '131.6', '141.8', '138.4', '141.8', '157.2', '152.1', '145.3', '138.4',
            '145.3', '141.8', '136.7', '145.3', '148.7', '148.7', '141.8', '133.3', '126.5', '129.9', '129.9',
            '126.5', '128.2', '135', '124.8', '126.5', '131.6', '133.3', '131.6', '145.3', '145.3', '143.6',
            '138.4', '131.6', '150.4', '143.6', '145.3', '136.7', '138.4', '169.2', '141.8', '128.2', '135',
            '128.2', '131.6', '140.1', '129.9', '129.9', '131.6', '133.3', '128.2', '131.6', '131.6', '169.2',
            '138.4', '129.9', '145.3', '136.7', '147', '145.3', '143.6', '164.1', '157.2', '158.9', '133.3',
            '131.6', '129.9', '135', '135', '133.3', '129.9', '128.2', '129.9', '129.9', '129.9', '131.6', '128.2',
            '162.4', '135', '165.8', '143.6', '147', '160.6', '152.1', '165.8', '141.8', '136.7', '133.3', '133.3',
            '140.1', '141.8', '136.7', '133.3', '133.3', '133.3', '135', '133.3', '131.6', '135', '133.3', '131.6',
            '158.9', '150.4', '153.8', '153.8', '152.1', '155.5', '157.2', '152.1', '143.6', '131.6', '136.7',
            '123', '128.2', '133.3', '136.7', '145.3', '145.3', '147', '141.8', '119.6', '128.2', '123', '145.3',
            '129.9', '128.2', '129.9', '138.4', '126.5', '129.9', '128.2', '126.5', '128.2', '128.2', '129.9',
            '128.2', '126.5', '123', '121.3', '126.5', '128.2', '123', '129.9', '124.8', '128.2', '128.2', '126.5',
            '126.5', '133.3', '129.9', '128.2', '129.9', '129.9', '133.3', '129.9', '126.5', '129.9', '131.6',
            '133.3', '131.6', '138.4', '164.1', '160.6', '147', '158.9', '129.9', '133.3', '133.3', '129.9',
            '133.3', '131.6', '131.6', '141.8', '129.9', '136.7', '138.4', '141.8', '138.4', '133.3', '148.7',
            '145.3', '147', '141.8', '145.3', '141.8', '128.2', '128.2', '126.5', '124.8', '129.9', '131.6', '135',
            '129.9', '128.2', '131.6', '133.3', '131.6', '128.2', '138.4', '141.8', '143.6', '150.4', '148.7',
            '150.4', '148.7', '141.8', '141.8', '129.9', '138.4', '135', '131.6', '135', '131.6', '135', '135',
            '135', '129.9', '129.9', '135', '138.4', '54.7', '15.4', '15.4', '13.7', '15.4', '13.7', '15.4', '13.7',
            '15.4', '13.7', '15.4', '13.7', '13.7', '13.7', '23.9', '138.4', '128.2', '129.9', '131.6', '133.3',
            '135', '131.6', '129.9', '133.3', '133.3', '131.6', '133.3', '138.4', '145.3', '150.4', '150.4',
            '148.7', '152.1', '148.7', '145.3', '138.4', '126.5', '136.7', '143.6', '131.6', '135', '131.6',
            '128.2', '126.5', '126.5', '129.9', '124.8', '129.9', '129.9', '129.9', '150.4', '150.4', '153.8',
            '152.1', '158.9', '155.5', '153.8', '148.7', '155.5', '148.7', '128.2', '126.5', '129.9', '124.8',
            '124.8', '128.2', '147', '138.4', '133.3', '138.4', '129.9', '131.6', '128.2', '133.3', '145.3',
            '141.8', '138.4', '140.1', '148.7', '157.2', '138.4', '140.1', '136.7', '138.4', '131.6', '129.9',
            '131.6', '131.6', '129.9', '129.9', '131.6', '131.6', '133.3', '129.9', '129.9', '131.6', '128.2',
            '131.6', '136.7', '136.7', '141.8', '147', '147', '147', '148.7', '135', '140.1', '148.7', '140.1',
            '148.7', '131.6', '153.8', '143.6', '128.2', '131.6', '131.6', '129.9', '136.7', '133.3', '135',
            '128.2', '141.8', '147', '143.6', '148.7', '147', '152.1', '148.7', '143.6', '143.6', '148.7', '152.1',
            '129.9', '135', '136.7', '141.8', '131.6', '135', '131.6', '131.6', '131.6', '131.6', '129.9', '124.8',
            '129.9', '133.3', '138.4', '147', '150.4', '143.6', '148.7', '138.4', '138.4', '143.6', '135', '153.8',
            '133.3', '131.6', '133.3', '128.2', '133.3', '126.5', '131.6', '131.6', '131.6', '133.3', '131.6',
            '148.7', '135', '129.9', '153.8', '131.6', '148.7', '152.1', '155.5', '148.7', '162.4', '138.4',
            '148.7', '140.1', '133.3', '147', '136.7', '133.3', '138.4', '143.6', '140.1', '136.7', '140.1',
            '138.4', '138.4', '143.6', '141.8', '131.6', '148.7', '141.8', '153.8', '160.6', '152.1', '143.6',
            '158.9', '150.4', '152.1', '145.3', '126.5', '129.9', '131.6', '138.4', '140.1', '145.3', '136.7',
            '140.1', '135', '133.3', '140.1', '136.7', '138.4', '135', '152.1', '153.8', '138.4', '150.4', '147',
            '135', '145.3', '150.4', '147', '147', '129.9', '148.7', '152.1', '131.6', '148.7', '128.2', '123',
            '133.3', '129.9', '129.9', '133.3', '133.3', '128.2', '143.6', '164.1', '138.4', '143.6', '138.4',
            '128.2', '135', '136.7', '135', '155.5', '138.4', '131.6', '138.4', '124.8', '128.2', '126.5', '136.7',
            '126.5', '121.3', '136.7', '126.5', '136.7', '129.9', '126.5', '141.8', '140.1', '143.6', '147', '147',
            '145.3', '145.3', '148.7', '135', '143.6', '143.6', '143.6', '126.5', '128.2', '128.2', '129.9',
            '128.2', '131.6', '133.3', '128.2', '131.6', '128.2', '124.8', '129.9', '131.6', '141.8', '131.6'
        ];

        var aData = getData(a_y);

        function getData(a_ydata) {
            var num = [];
            var max = 0;
            for (var i = 0; i < a_ydata.length; i++) {
                var a = a_ydata[i];
                var count = Math.ceil(a / 10);
                if (typeof (num[count]) == "undefined") {
                    num[count] = 0;
                }
                num[count] = num[count] + 1;

                if (count > max) {
                    max = count;
                }
            }

            var dataa = [];
            for (var i = 0; i <= max + 5; i++) {
                if (typeof (num[i]) == "undefined") {
                    dataa.push([i * 10, 0]);
                } else {
                    dataa.push([i * 10, num[i] / a_ydata.length]);
                }
            }
            return dataa;
        }

        option = null;
        option = {
            title: {
                left: '50%',
                textAlign: 'center'
            },
            color: ['blue'],
            legend: {
                bottom: '1%',
                right: '3%',
                textStyle: {
                    color: '#000'
                },
                data: [{
                    name: 'A相',
                    icon: 'bar'
                }]
            },
            xAxis: {
                name: 'mA',
                type: 'value',
                axisLabel: {
                    textStyle: {
                        color: '#fff'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#fff',
                        width: 1
                    }
                }
            },
            yAxis: [{
                name: '频率',
                type: 'value',
                axisLabel: {
                    textStyle: {
                        color: '#fff'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#fff',
                        width: 1
                    }
                }
            }],
            series: [{
                name: 'A',
                smooth: true,
                showSymbol: false,
                type: 'line',
                lineStyle: {
                    normal: {
                        width: 3,
                        color: '#eee',
                    }
                },
                data: aData
            }]
        };

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }

        function fixWidth(percent) {
            return container.clientHeight * percent; //这里你可以自己做调整
        }

        var app_1 = {};
        app_1.title = '堆叠柱状图';
        var datat = ['2018/03/12', '2018/03/13', '2018/03/14', '2018/03/15', '2018/03/16', '2018/03/17', '2018/03/18',
            '2018/03/19', '2018/03/20', '2018/03/21', '2018/03/22',
            '2018/03/23', '2018/03/24', '2018/03/25', '2018/03/26', '2018/03/27', '2018/03/28', '2018/03/29',
            '2018/03/30', '2018/03/31', '2018/04/01', '2018/04/02', '2018/04/03'
        ];

        var data = echarts.dataTool.prepareBoxplotData([
            ['150.4', '162.4', '160.6', '150.4', '143.6', '126.5', '129.9', '131.6', '136.7', '135'],
            ['138.4', '135', '133.3', '133.3', '133.3', '131.6', '141.8', '138.4', '141.8', '157.2', '152.1',
                '145.3', '138.4', '145.3', '141.8', '136.7', '145.3', '148.7', '148.7', '141.8', '133.3',
                '126.5', '129.9', '129.9'
            ],
            ['126.5', '128.2', '135', '124.8', '126.5', '131.6', '133.3', '131.6', '145.3', '145.3', '143.6',
                '138.4', '131.6', '150.4', '143.6', '145.3', '136.7', '138.4', '169.2', '141.8', '128.2', '135',
                '128.2', '131.6'
            ],
            ['140.1', '129.9', '129.9', '131.6', '133.3', '128.2', '131.6', '131.6', '169.2', '138.4', '129.9',
                '145.3', '136.7', '147', '145.3', '143.6', '164.1', '157.2', '158.9', '133.3', '131.6', '129.9',
                '135', '135'
            ],
            ['133.3', '129.9', '128.2', '129.9', '129.9', '129.9', '131.6', '128.2', '162.4', '135', '165.8',
                '143.6', '147', '160.6', '152.1', '165.8', '141.8', '136.7', '133.3', '133.3', '140.1', '141.8',
                '136.7', '133.3'
            ],
            ['133.3', '133.3', '135', '133.3', '131.6', '135', '133.3', '131.6', '158.9', '150.4', '153.8',
                '153.8', '152.1', '155.5', '157.2', '152.1', '143.6', '131.6', '136.7', '123', '128.2', '133.3',
                '136.7', '145.3'
            ],
            ['145.3', '147', '141.8', '119.6', '128.2', '123', '145.3', '129.9', '128.2', '129.9', '138.4',
                '126.5', '129.9', '128.2', '126.5', '128.2', '128.2', '129.9', '128.2', '126.5', '123', '121.3',
                '126.5', '128.2'
            ],
            ['123', '129.9', '124.8', '128.2', '128.2', '126.5', '126.5', '133.3', '129.9', '128.2', '129.9',
                '129.9', '133.3', '129.9', '126.5', '129.9', '131.6', '133.3', '131.6', '138.4', '164.1',
                '160.6', '147', '158.9'
            ],
            ['129.9', '133.3', '133.3', '129.9', '133.3', '131.6', '131.6', '141.8', '129.9', '136.7', '138.4',
                '141.8', '138.4', '133.3', '148.7', '145.3', '147', '141.8', '145.3', '141.8', '128.2', '128.2',
                '126.5', '124.8'
            ],
            ['129.9', '131.6', '135', '129.9', '128.2', '131.6', '133.3', '131.6', '128.2', '138.4', '141.8',
                '143.6', '150.4', '148.7', '150.4', '148.7', '141.8', '141.8', '129.9', '138.4', '135', '131.6',
                '135', '131.6'
            ],
            ['135', '135', '135', '129.9', '129.9', '135', '138.4', '54.7', '15.4', '15.4', '13.7', '15.4',
                '13.7', '15.4', '13.7', '15.4', '13.7', '15.4', '13.7', '13.7', '13.7', '23.9', '138.4', '128.2'
            ],
            ['129.9', '131.6', '133.3', '135', '131.6', '129.9', '133.3', '133.3', '131.6', '133.3', '138.4',
                '145.3', '150.4', '150.4', '148.7', '152.1', '148.7', '145.3', '138.4', '126.5', '136.7',
                '143.6', '131.6', '135'
            ],
            ['131.6', '128.2', '126.5', '126.5', '129.9', '124.8', '129.9', '129.9', '129.9', '150.4', '150.4',
                '153.8', '152.1', '158.9', '155.5', '153.8', '148.7', '155.5', '148.7', '128.2', '126.5',
                '129.9', '124.8', '124.8'
            ],
            ['128.2', '147', '138.4', '133.3', '138.4', '129.9', '131.6', '128.2', '133.3', '145.3', '141.8',
                '138.4', '140.1', '148.7', '157.2', '138.4', '140.1', '136.7', '138.4', '131.6', '129.9',
                '131.6', '131.6', '129.9'
            ],
            ['129.9', '131.6', '131.6', '133.3', '129.9', '129.9', '131.6', '128.2', '131.6', '136.7', '136.7',
                '141.8', '147', '147', '147', '148.7', '135', '140.1', '148.7', '140.1', '148.7', '131.6',
                '153.8', '143.6'
            ],
            ['128.2', '131.6', '131.6', '129.9', '136.7', '133.3', '135', '128.2', '141.8', '147', '143.6',
                '148.7', '147', '152.1', '148.7', '143.6', '143.6', '148.7', '152.1', '129.9', '135', '136.7',
                '141.8', '131.6'
            ],
            ['135', '131.6', '131.6', '131.6', '131.6', '129.9', '124.8', '129.9', '133.3', '138.4', '147',
                '150.4', '143.6', '148.7', '138.4', '138.4', '143.6', '135', '153.8', '133.3', '131.6', '133.3',
                '128.2', '133.3'
            ],
            ['126.5', '131.6', '131.6', '131.6', '133.3', '131.6', '148.7', '135', '129.9', '153.8', '131.6',
                '148.7', '152.1', '155.5', '148.7', '162.4', '138.4', '148.7', '140.1', '133.3', '147', '136.7',
                '133.3', '138.4'
            ],
            ['143.6', '140.1', '136.7', '140.1', '138.4', '138.4', '143.6', '141.8', '131.6', '148.7', '141.8',
                '153.8', '160.6', '152.1', '143.6', '158.9', '150.4', '152.1', '145.3', '126.5', '129.9',
                '131.6', '138.4', '140.1'
            ],
            ['145.3', '136.7', '140.1', '135', '133.3', '140.1', '136.7', '138.4', '135', '152.1', '153.8',
                '138.4', '150.4', '147', '135', '145.3', '150.4', '147', '147', '129.9', '148.7', '152.1',
                '131.6', '148.7'
            ],
            ['128.2', '123', '133.3', '129.9', '129.9', '133.3', '133.3', '128.2', '143.6', '164.1', '138.4',
                '143.6', '138.4', '128.2', '135', '136.7', '135', '155.5', '138.4', '131.6', '138.4', '124.8',
                '128.2', '126.5'
            ],
            ['136.7', '126.5', '121.3', '136.7', '126.5', '136.7', '129.9', '126.5', '141.8', '140.1', '143.6',
                '147', '147', '145.3', '145.3', '148.7', '135', '143.6', '143.6', '143.6', '126.5', '128.2',
                '128.2', '129.9'
            ],
            [
                '128.2', '131.6', '133.3', '128.2', '131.6', '128.2', '124.8', '129.9', '131.6', '141.8',
                '131.6', '129.9', '128.2', '133.3', '135', '133.3', '133.3', '123', '124.8', '112.8', '109.4',
                '114.5'
            ]
        ]);

        option_1 = null;
        option_1 = {

            title: [{
                left: 'center'
            }, {
                top: '55%',
                left: 'center'
            }, {
                top: '55%',
                left: 'center'
            }],
            tooltip: {
                trigger: 'item',
                axisPointer: {
                    type: 'shadow'
                },
                backgroundColor: 'rgba(255,255,255,1)',
                padding: [5, 10],
                textStyle: {
                    color: '#7588E4'
                },
                extraCssText: 'box-shadow: 0 0 5px rgba(0,0,0,0.3)'
            },
            xAxis: [{
                data: datat,
                axisLabel: {
                    interval: 0,
                    rotate: 30,
                    textStyle: {
                        color: '#fff'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#fff',
                        width: 1
                    }
                }
            }],
            yAxis: [{
                splitLine: {
                    show: false
                },
                axisLabel: {
                    textStyle: {
                        color: '#fff'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: '#fff',
                        width: 1
                    }
                }
            }],
            grid: [{
                bottom: '15%'
            }, {
                top: '100%'
                // bottom: '39%'
            }, {
                top: '100%'
            }],
            series: [{
                    name: 'outlier',
                    type: 'scatter',
                    data: data.outliers
                }, {
                    type: 'boxplot',
                    data: data.boxData,
                    tooltip: {
                        formatter: function (param) {
                            return [
                                'Experiment ' + param.name + ': ',
                                'upper: ' + param.data[4],
                                'Q3: ' + param.data[3],
                                'median: ' + param.data[2],
                                'Q1: ' + param.data[1],
                                'lower: ' + param.data[0]
                            ].join('<br/>')
                        }
                    },
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgba(199, 237, 250,1)'
                            }, {
                                offset: 1,
                                color: 'rgba(199, 237, 250,1)'
                            }], false)
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: 'rgba(199, 237, 250,1)'
                        }
                    },
                    lineStyle: {
                        normal: {
                            width: 3
                        }
                    }
                },
                {
                    name: 'outlier',
                    type: 'scatter',
                    data: data.outliers
                }
            ]
        };

        if (option_1 && typeof option_1 === "object") {
            myChart_1.setOption(option_1, true);
        }
    </script>

{% endblock %}
