{% extends 'base.html' %}

{% block title %}
时序分析LSTMboard
{% endblock %}

{% block head %}
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-gl.min.js"></script>
{% endblock %}

{% block main %}
<h3 class="page-title">时序分析LSTMboard</h3>
<form action="" method="POST">
    <div class="form-container">
        <div class="form-group">
            <div id="lineloss" style="width:800px; height:400px;"></div>
            <script>
                $(
                    function () {
                        var chart = echarts.init(document.getElementById('lineloss'), 'white', {renderer: 'canvas'});
                        $.ajax({
                            type: "GET",
                            url: "http://127.0.0.1:5000/LSTMboard/lineChart",
                            dataType: 'json',
                            success: function (result) {
                                chart.setOption(result);
                            }
                        });
                    }
                )
            </script>
            <div id="linelstm" style="width:1000px; height:600px;"></div>
            <script>
                $(
                    function () {
                        var chart = echarts.init(document.getElementById('linelstm'), 'white', {renderer: 'canvas'});
                        $.ajax({
                            type: "GET",
                            url: "http://127.0.0.1:5000/LSTMboard/barChart",
                            dataType: 'json',
                            success: function (result) {
                                chart.setOption(result);
                            }
                        });
                    }
                )
            </script>
        </div>
        <div class="form-group">
            <button class="btn btn-primary ">返回首页</button>
        </div>
    </div>
</form>
{% endblock %}