{% extends 'base.html' %}

{% block title %}
智能分析
{% endblock %}

{% block head %}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='css/time_series.css') }}">#}

    <style>
    button a{
        color: white;
    }
    </style>

{% endblock %}

{% block main %}
<h3 class="page-title">智能分析</h3>
<form action="" method="POST">
    <div class="form-container">
        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">数据类型 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
        </li>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="文件夹" name="file_name" style="width:200px;">
            <td>Model:</td>
            <td><select id="mymodel" name="mymodel">
                <option>KMeans</option>
                <option>LSTM</option>
                <option>404</option>
                </select>
            </td>
        </div>
        <div class="form-group">
            <textarea rows="8" class="form-control" placeholder="" name="content"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary ">分析</button>
        </div>
    </div>
</form>
<div class="form-group">
    <button class="btn btn-primary "><a href="{{ url_for('index') }}">取消</a></button>
</div>
{% endblock %}